<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Martin Vu</title>
   <meta name="description" content="Martin Vu's Portfolio Site">
   <link rel="icon" href="/favicon.ico">
   <meta property="og:image" content="https://ik.imagekit.io/martinvu/Website_Preview_9UZVEzHGC6i.png?ik-sdk-version=javascript-1.4.3&updatedAt=1643933086408">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
   <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
   <link rel="stylesheet" href="style.css">
   <style>
     body { font-family: 'Montserrat', sans-serif; margin: 0; padding: 0; background: #f5f5f5; color: #333; }
 
     /* Header styling */
     header {
       padding: 0;
       width: 100vw;
       background-repeat: no-repeat;
       margin: 0 auto;
       background-image: url('IMG_2433.jpg'); /* Set your image path here */
       background-size: cover;
       background-position: center;
       height: 100vh; /* Make the header full viewport height */
       display: flex;
       justify-content: center;
       align-items: center;
       color: navy; /* Change text color to navy */
       text-align: center;
     }
 
     header h1, header p {
       margin: 0;
     }
 
     header h1 {
       font-size: 3rem; /* Adjust font size as needed */
     }
 
     header p {
       font-size: 1.5rem; /* Adjust font size as needed */
     }
